/* Add CSS styles for the card container with vertical scrolling */
.card-container {
  max-height: 350px; /* Adjust the maximum height as needed */
  overflow-y: auto;
}

/* Style the individual cards as needed */
.card {
  height: 100%; /* Make cards fill the column */
}

.material-icons {
  cursor: pointer;
}
